# ===== Slide Switches (SW) =====
#NET "A" LOC = "R17";
#NET "B" LOC = "N17";
#NET "C" LOC = "L13";
#
#NET "X" LOC = "K15";
#NET "Y" LOC = "J15";
#NET "Z" LOC = "J14";

NET A<7> LOC = "R17";
NET A<6> LOC = "N17";
NET A<5> LOC = "L13";
NET A<4> LOC = "L14";
NET A<3> LOC = "K17";
NET A<2> LOC = "K18";
NET A<1> LOC = "H18";
NET A<0> LOC = "G18";

NET Z<7> LOC = "R4";
NET Z<6> LOC = "F4";
NET Z<5> LOC = "P15";
NET Z<4> LOC = "E17";
NET Z<3> LOC = "K14";
NET Z<2> LOC = "K15";
NET Z<1> LOC = "J15";
NET Z<0> LOC = "J14";